@model IEnumerable<MCC69APP.Models.Locations>

@{ ViewData["Title"] = "Index"; }
<p>
    @*<a asp-action="Create">Create New</a>*@
    <a class="btn btn-primary" data-toggle="modal" data-target="#ModalData" onclick="Create()">Create New</a>
</p>


<table class="table table-striped " id="tLocations">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">StreetAddress</th>
            <th scope="col">PostalCode</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section Scripts
{

    <script src="~/js/Locations/index.js"></script>
}
