@model IEnumerable<MCC69APP.Models.Employees>

@{
    ViewData["Title"] = "Index";
}

<p>
    @*<a asp-action="Create">Create New</a>*@
    <a class="btn btn-primary" data-toggle="modal" data-target="#ModalData" onclick="Create()">Create New</a>
</p>


<table class="table table-striped " id="tEmployees">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Salary</th>
            <th scope="col">Jobs</th>
            <th scope="col">Managers</th>
            <th scope="col">Departments</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section Scripts
{
    
    <script src="~/js/Employees/index.js"></script>
}
