@model IEnumerable<MCC69APP.Models.User>

@{ ViewData["Title"] = "Index"; }

<p>
    @*<a asp-action="Create">Create New</a>*@
    <a class="btn btn-primary" data-toggle="modal" data-target="#ModalData" onclick="Create()">Create New</a>
</p>


<table class="table table-striped " id="tUser">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section Scripts
{

    <script src="~/js/User/index.js"></script>
}
