@model IEnumerable<MCC69APP.Models.JobHistory>

@{ ViewData["Title"] = "Index"; }
<p>
    @*<a asp-action="Create">Create New</a>*@
    <a class="btn btn-primary" data-toggle="modal" data-target="#ModalData" onclick="Create()">Create New</a>
</p>


<table class="table table-striped " id="tJobHistory">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">StartDate</th>
            <th scope="col">EndDate</th>
            <th scope="col">Job_Id</th>
            <th scope="col">Department_Id</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



@section Scripts
{

    <script src="~/js/JobHistories/index.js"></script>
}